---
layout: default
---

{% for post in paginator.posts %}
  {% include post_excerpt.html post=post %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">Previous page</a>
  {% endif %}
  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next page</a>
  {% endif %}
</nav>
{% endif %}
