---
layout: default
---

<header class="page-header page-header-centered">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.description %}
  <div class="taxonomy-description">{{ page.description }}</div>
  {% endif %}
</header>

{% for post in page.posts %}
  {% unless forloop.first %}<hr>{% endunless %}
  {% include intro_only.html post=post %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">
  <div class="nav-links">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">Previous page</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next page</a>
    {% endif %}
  </div>
</nav>
{% endif %}
