---
layout: default
---

<article id="post-{{ post.id | slugify }}" class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
    <div class="subtitle">
      <span class="subtitle-line">{{ post.circle}}</span>
      <span class="subtitle-line"></span>{{ post.event }}</span>
      <span class="subtitle-line">Session {{ post.session }}</span>
      <span class="subtitle-line">
        {{ post.date | date: "%A, %B %-d, %Y" }} </span>
    </div>
    <h2 class="entry-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h2>
    <div class="subtitle-mobile">
      <span class="subtitle-line">{{ post.circle}}</span>
      <span class="subtitle-line"></span>{{ post.event }}</span>
      <span class="subtitle-line">Session {{ post.session }}</span>
      <span class="subtitle-line">
        {{ post.date | date: "%A, %B %-d, %Y" }} </span>
    </div>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>{{ post.excerpt }}</p>
    <div class="excerpt-permalink">
      <a href="{{ post.url | relative_url }}">Go to the
        transcript.</a><i class="fas fa-external-link-alt" style="padding-left: 1rem;"></i>
    </div>
  </div><!-- .entry-content -->

</article>